
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Lista de Usuarios</h1>
    {% if usuarios %}
    <table align="center" cellspacing="8" cellpadding="8" border="1">
        <thead>
            <th>Nombre Usuario</th>
            <th>Correo</th>
            <th>Nombre</th>
            <th>Apellidos</th>
            <th>Fecha Creacion</th>
        </thead>
        <tbody>
            {%for Usuario in usuarios %}
                <tr>
                    <td>{{ Usuario.nombre_usuario }}</td>
                    <td>{{ Usuario.correo }}</td>
                    <td>{{ Usuario.nombres }}</td>
                    <td>{{ Usuario.apellidos }}</td>
                    <td>{{ Usuario.fecha_creacion }}</td>
                </tr>

            {% endfor %}
        </tbody>
    </table>
    {% endif %}
</body>
</html>