cx-Oracle==8.2.1
decouple==0.0.7
distlib==0.3.2
Django==2.2.4
django-bootstrap==0.2.4
django-bootstrap4==3.0.1
django-forms-bootstrap==3.1.0
django-pwa==1.0.10
html5lib==1.1
Pillow==8.3.2
py==1.11.0
PyPDF2==1.26.0
pytest==6.2.5
pytest-django==4.4.0
python-bidi==0.4.2
pytz==2021.3
sqlparse==0.4.2
virtualenv==20.9.0
virtualenvwrapper-win==1.2.6
webencodings==0.5.1
xhtml2pdf==0.2.5